@charset "UTF-8";

:root{
    --cor0: rgb(100, 203, 205);
    --cor1: rgb(123, 123, 222);
    --cor2: rgb(1, 34, 92);
    --cor3: rgba(123, 123, 222, 0.436);
    --cor4: #c5ebd6;
    --cor5: #2fa866;
    --cor6: green;
    --cor7: #1a5c37;
  
    --font1: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font2:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: var(--cor4);
}

header{
    background-image: linear-gradient(to bottom, var(--cor5), var(--cor7));
    padding-bottom: 8px;
}

header > h1{
    padding: 20px;
    color: white;
    text-shadow: 7px 7px 15px rgba(0, 0, 0, 0.564);
    font-family: var(--font1);
    font-weight: normal;
    font-size: 40px;
}

header > p{
    padding-left: 140px;
    color: white;
    font-family: var(--font2);
    font-weight: normal;
    font-size: 20px;
}

nav{
    background-color: var(--cor6);
    padding: 5px;   
}

nav > a{
    color: white;
    padding-left: 5px;
    text-decoration: none;
}

nav > a:hover{
    text-decoration: underline;
}



main{
    background: white;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border-radius: 15px;
}

main > h4{
    padding-top: 5px;

}

main > ul > li{
    padding-top: 10px;
    list-style-position: inside;
    font-size: 15px;
    display: block;
    
}

main > ul > li > a{
    color: var(--cor2);
}

main > ul > li > a:hover{
    color: rgba(0, 0, 148, 0.721);
}