@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor0: rgb(100, 203, 205);
    --cor1: rgb(1, 34, 92);
    --cor2: rgb(123, 123, 222);
    --cor3: rgba(123, 123, 222, 0.436);
    --font1: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    --font2:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: var(--cor0);
}

header{
    background-image: linear-gradient(to right, var(--cor1), var(--cor2));
    text-align: center;
}

header > h1{
    color: white;
    font-family: var(--font1);
    font-weight: normal;
    min-height: 70px;
    padding-top: 40px;
    font-size: 2.5em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.641);
}

header > p{
    color: white;
    font-family: var(--font2);
    font-size: 1.3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.268);
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    padding-bottom: 8px;
}

nav{
    background-color: var(--cor1);
    padding: 5px;
    box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.186);
}

nav > a{
    text-decoration: none;
    color: white;
    padding: 5px;
}

nav > a:hover{
    background-color: var(--cor3);
    border-radius: 10px;
    transition-duration: 0.3s;
    padding: 4px;
    
}

main{
    background-color: white;
    max-width: 1050px;
    margin: auto;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 7px 7px 10px rgba(0, 0, 0, 0.334);
}

main > article > h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

main > article > h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--cor1);
    
    background-image: linear-gradient(to right, var(--cor3), transparent);
}

main > article > p{
    text-indent: 10px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    line-height: 2em;
    text-align: justify;
    font-size: 18px;
}

main img{
    width: 100%;
}

main > article > img.pequeno{
    width: 300px;
    display: block;
    margin: auto;
}

aside{
    background-color: var(--cor2);
    padding: 5px;
    border-radius: 10px;
}

aside > h3{
    background-color: var(--cor1);
    margin: -5px -5px 0px -5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 8px;
    color: white;

    
}

aside > ul{
    list-style-position: inside;
    columns: 2;
}

aside > p{
    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 1.5em;
}

footer{
    text-align: center;
    background-color: var(--cor1);
    color: white;
    margin-top: 15px;
}