@charset "charset UTF-8";

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    
}


*{
  margin: 0px;  
    
}


body{
    background-color: #c5ebd6;
            
}


header{      
   text-align: center;
   background-color: var(--cor4);
}


header > h1{
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 40px;
    margin-bottom: 20px;
    background-image: linear-gradient(to bottom, var(--cor3),var(--cor4));
    font-size: 2em;
    
    
}


header > p{
    color: aliceblue;
    padding-bottom: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1em;

}


nav{
    background-color: var(--cor5);
    padding: 5px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.222);
       
}


nav > a{
    color: white;
    text-decoration: none;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    

}


nav > a:hover{
    color: var(--cor5);
    background-color: #2fa866;
    border-radius: 2px;
    transition-duration: .5s;   
    
    
}


main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.433);
    margin-bottom: 30px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
}


main h1{
   
    

}


main h2{
    color: #063d1e;
    background-image: linear-gradient(to right, var(--cor2), transparent);

}


main p{
    padding: 10px;
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
}


main img{
    width: 100%;

}



main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}


main strong{

}


main a{

}


aside{
    background-color: #3ddc84;
    padding: 10px;
    border-radius: 10px;

}


aside > h3{
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
    

}


aside > ul{
    list-style-position: inside;
    columns: 2;
    

}


aside > p{
    

}


footer{
    text-align: center;
    background-color: #063d1e;
    color: white;


}


footer a{
    color: #3ddc85bb;;
    

}


