@charset "UTF-8";


/*
                            ROOT
*/

:root{
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
  
}

/*
                              *
*/

*{
    margin: 0%;
    padding: 0%;
}

/*
                              BODY
*/


body{
    background-color: #c5ebd6;

}




/*
                              HEADER
*/

header{
    background-image: linear-gradient(to top, var(--cor4), var(--cor2));

}



header h1{
    color: white;
    text-align: center;
    font-size: 45px;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.732);
    padding: 35px;
    
}


header p{
    color: white;
    font-size: 19px;
    text-shadow: 0px 5px 7px rgba(0, 0, 0, 0.745);
    text-align: center;
    padding-bottom: 20px;
    max-width: 500px;
    margin: auto;

}


/*
                              NAV
*/

nav{
    background-color: var(--cor5);
    padding: 8px;
}

nav a{
    color: white;
    padding: 8px;
    text-decoration: none;

}


nav a:hover{
    background-color: #1a5c37;
    transition-duration: 0.2s;
    border-radius: 5px;
}


/*
                              MAIN
*/

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    box-shadow: 0px 7px 7px black;
    padding: 20px;
}


main h1{
    padding: 15px;
    
}


main p{
    text-align: justify;
    text-indent: 20px;
    line-height: 1.9em;
    font-size: 20px;
}

main h2{
    margin: 15px;
    padding: 1px;
    background-image: linear-gradient(to right, var(--cor2), 
    transparent);
    color: #1a5c37;
}


main img{
    width: 100%;
    
}

main img.pequena{
    display: block;
    margin: auto;
    max-width: 350px;
    max-height: 350px;
    padding: 30px;
}

/*
                              ASIDE
*/


aside{
    background-color: #3ddc84;
    border-radius: 5px;
    padding: 15px;
    
}


aside h1{
    background-color: #1a5c37;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: -15px -15px 0px -15px;

}

aside ul{
    list-style-position: inside;
    columns: 2;
    padding-top: 15px;
    
}

aside > p{
     font-size: 17px;
}

p.unico{
    font-size: 18px;
    padding-top: 15px;
    
}


/*
                              FOOTER
*/


footer p{
    color: white;
    background-color: #063d1e;
    text-align: center;
    margin-top: 25px;
}