@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}



body{
    background-image: linear-gradient(to right, #656F8C, #F2D8E9);
}







main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d8b4ccac;
    width: 600px;
    padding: 10px;
    margin: auto;
}






h1{
    color: #656F8C;
    text-align: center;
    text-shadow: 1px 1px 2px #282b35);

}





h2{
    color: black;

}




p {
    text-align: justify;
}